@charset "UTF-8";

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./images/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./images/Pretendard-Bold.woff2") format("woff2");
  font-display: swap;
}

$primaryColor: #f75b00;
$brightColor: #f7a000;
$thumbnailShadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: top;
  text-underline-position: under;
  background-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  word-break: break-word;
}
body {
  color: #333;
  min-width: 360px;
  font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  &.scroll-lock {
    overflow: hidden;
  }
}
ol,
ul {
  list-style: none;
}
table {
  border-spacing: 0;
}
th,
td {
  text-align: center;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
button,
input[type="file"],
input[type="image"],
input[type="reset"],
input[type="button"],
input[type="submit"] {
  border: none;
  border-radius: 0;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #eee;
  z-index: 99;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1024px;
    height: 60px;
    margin-inline: auto;
    padding: 10px 20px;
  }
  .logo {
    a {
      display: block;
      font-weight: 700;
      font-size: 20px;
      &:hover {
        color: $primaryColor;
      }
    }
  }
  .btn-area {
    display: flex;
    column-gap: 12px;
    button {
      width: 30px;
      height: 30px;
      mask-size: 20px;
      mask-position: center;
      font-size: 0;
      background-color: #000;
      &.drawer-opener {
        mask-image: url(./images/hamburger.svg);
      }
      &.search-opener {
        mask-image: url(./images/search.svg);
      }
      &:hover {
        background-color: $primaryColor;
      }
    }
  }
}

#drawer {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  z-index: 100;
  min-width: 360px;
  transition: opacity 300ms, height 1ms 299ms;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  color: #ffffff;
  &.on {
    height: 100%;
    opacity: 1;
    transition: opacity 300ms;
    padding: 20px;
  }
  .gnb {
    display: grid;
    row-gap: 12px;
    img {
      display: none;
    }
    > ul {
      display: grid;
      row-gap: 12px;
      > li {
        > a {
          font-weight: 700;
          font-size: 24px;
        }
      }
    }
    .link_tit {
      display: none;
    }
    .category_list {
      display: grid;
      row-gap: 34px;
      > li {
        > a {
          font-size: 24px;
          &:hover {
            color: $brightColor;
          }
        }
      }
    }
    .sub_category_list {
      margin-top: 16px;
      display: grid;
      row-gap: 8px;
      > li {
        > a {
          font-size: 16px;
          &:hover {
            color: $brightColor;
          }
        }
      }
    }
  }
}

#search {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  z-index: 100;
  min-width: 360px;
  transition: opacity 300ms, height 1ms 299ms;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  color: #ffffff;
  &.on {
    height: 100%;
    opacity: 1;
    transition: opacity 300ms;
    padding: 20px;
  }
  form {
    display: block;
    width: 100%;
    max-width: 768px;
    .search-box {
      position: relative;
    }
    input[type="search"] {
      width: 100%;
      height: 100px;
      font-size: 48px;
      padding-right: 60px;
      color: #fff;
      background-color: transparent;
      border: solid #fff;
      border-width: 0 0 3px;
      outline: none;
      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .btn-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
      font-size: 0;
      mask-image: url(./images/search.svg);
      mask-position: center;
      mask-size: 60px;
      background-color: #fff;
      &:hover {
        background-color: $brightColor;
      }
    }
  }
}

#main {
  width: 100%;
  max-width: 808px;
  margin-inline: auto;
  padding: 50px 20px 100px;
  .list-header {
    margin-bottom: 20px;
    h2 {
      display: flex;
      align-items: center;
      column-gap: 6px;
      font-weight: 700;
      font-size: 18px;
      .count {
        font-size: 16px;
        color: $primaryColor;
      }
    }
  }
  .article-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    &:not(:first-child) {
      margin-top: 36px;
    }
    .thumbnail {
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      width: 120px;
      height: 120px;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: $thumbnailShadow;
      img {
        position: relative;
        z-index: 1;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        mask-image: url(./images/no-image.svg);
        mask-size: 80px;
        mask-position: center;
        background-color: #999;
      }
      &[data-protected="true"] {
        &::after {
          mask-image: url(./images/protected.svg);
        }
      }
    }
    .info {
      .title {
        img {
          display: none;
        }
        a {
          font-weight: 700;
          font-size: 20px;
          &:hover {
            color: $primaryColor;
          }
        }
      }
      .category {
        margin-top: 6px;
        a {
          font-size: 14px;
          &:hover {
            color: $primaryColor;
          }
        }
      }
      .date {
        margin-top: 12px;
        font-size: 14px;
        color: #666666;
      }
    }
  }
  .article-viewer {
    .article-header {
      padding-bottom: 50px;
      margin-bottom: 50px;
      text-align: center;
      border-bottom: 1px solid #eee;
      .title {
        font-weight: 700;
        font-size: 32px;
      }
      .category {
        margin-top: 12px;
        a {
          &:hover {
            color: $primaryColor;
          }
        }
      }
      .date {
        margin-top: 6px;
        font-size: 14px;
        color: #666;
      }
    }
    [data-tistory-react-app="Namecard"] {
      display: none;
    }
    .article-tag {
      margin-top: 50px;
      column-gap: 12px;
      .title {
        font-weight: 700;
        font-size: 18px;
      }
      .tags {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        a {
          white-space: nowrap;
          &:before {
            content: "#";
          }
          &:not(:first-child) {
            margin-left: 4px;
          }
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
    .related-area {
      margin-top: 100px;
      .related-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        h3 {
          font-weight: 700;
          font-size: 18px;
        }
        a {
          &:hover {
            color: $primaryColor;
          }
        }
      }
      .related-list {
        overflow-x: auto;
        font-size: 0;
        white-space: nowrap;
        padding: 6px 4px;
        .related-item {
          width: 178px;
          display: inline-block;
          &:not(:first-child) {
            margin-left: 16px;
          }
          a {
            display: block;
            text-align: center;
            font-size: 16px;
            &:hover {
              color: $primaryColor;
            }
          }
          .thumbnail {
            flex-shrink: 0;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 114px;
            background-color: #fff;
            border-radius: 6px;
            box-shadow: $thumbnailShadow;
            img {
              position: relative;
              z-index: 1;
              object-fit: cover;
              width: 100%;
              height: 100%;
              background-color: #fff;
            }
            &::after {
              content: "";
              position: absolute;
              inset: 0;
              mask-image: url(./images/no-image.svg);
              mask-size: 60px;
              mask-position: center;
              background-color: #999;
            }
          }
          .title {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 6px;
          }
        }
      }
    }
    .article-reply {
      margin-top: 100px;
    }
  }
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    a {
      display: block;
      padding: 6px 12px;
      background-color: #f7f7f7;
      border-radius: 6px;
    }
  }
}

#article {
  font-size: 16px;
  line-height: 1.5;
  h1,
  h2,
  h3,
  h4 {
    margin: 24px 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
  }
  h1 {
    font-size: 30px;
    line-height: 1.33;
  }
  h2 {
    font-size: 26px;
    line-height: 1.38;
  }
  h3 {
    font-size: 22px;
    line-height: 1.4;
  }
  h4 {
    font-size: 18px;
    line-height: 1.33;
  }
  blockquote {
    margin: 0;
    padding-left: 19px;
    border-left: 1px solid #4167d9;
    font-size: 16px;
    line-height: 1.75;
    color: rgba(0, 0, 0, 0.54);
  }
  ul,
  ol {
    margin: 0;
    padding: 0 0 0 23px;
  }
  ul li,
  ol li {
    float: initial;
    width: initial;
    height: initial;
    list-style: unset;
    overflow: initial;
  }
  ul {
    margin-top: 18px;
    li {
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.87);
      word-break: break-all;
    }
  }
  ol {
    margin-bottom: 32px;
    li {
      margin-bottom: 6px;
      font-size: 16px;
      line-height: 1.75;
      color: rgba(0, 0, 0, 0.87);
      word-break: break-all;
    }
  }
  table {
    border-collapse: collapse;
    thead {
      tr {
        background: rgba(0, 0, 0, 0.05);
        font-size: 16px;
        color: #000;
      }
    }
    tr {
      th,
      td {
        padding: 7px;
      }
    }
  }
  pre {
    background: rgba(0, 0, 0, 0.05);
    font-size: 16px;
    color: rgba(34, 85, 51, 0.87);
    white-space: pre-wrap;
    code.hljs {
      padding: 20px;
    }
  }
  .cap1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
  }
  hr {
    margin: 30px 0;
  }
  .container_postbtn {
    // 공감, 통계 등등
    display: none;
  }
  .another_category {
    // 다른 글 네비게이션
    display: none;
  }
  a {
    color: #0070d1;
    text-decoration: underline;
  }
}

#pagination {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  margin-top: 60px;
  a {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      color: $primaryColor;
    }
  }
  .pager {
    display: flex;
    justify-content: center;
    column-gap: 12px;
  }
  .arrow {
    mask-image: url(./images/arrow.svg);
    mask-size: 16px;
    mask-position: center;
    background-color: #333;
    font-size: 0;
    &.prev {
      transform: rotate(180deg);
    }
    &:hover {
      background-color: $primaryColor;
    }
    &.no-more-prev,
    &.no-more-next {
      opacity: 0.3;
      cursor: default;
      background-color: #333 !important;
    }
  }
}

#footer {
  margin-top: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  .blog-menu {
    ul {
      display: flex;
      column-gap: 24px;
      li {
        a {
          font-size: 12px;
          display: block;
          color: #666;
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: #666;
  }
}

.menu_toolbar {
  display: none;
}
